<div class="modal-container">
  <h2 class="text">Welcome to the Dementia Risk Assessment</h2>
  <p class="text">
    For more information regarding this tool, visit this
    <a
      href="https://docs.google.com/document/d/1DwtM7N0BvocCGNqKaO3KVEIgl5dGwX4e/edit?usp=sharing&ouid=109333744910628866738&rtpof=true&sd=true"
      target="_blank"
      >blog</a
    >
  </p>
  <p class="text">
    This is a proof-of-concept developed by University of Michigan data science
    students. This does not substitute for medical expertise and should NOT be
    used for dementia diagnosing.
  </p>
</div>
